In [1]:
from VIGA_CONCRETO_ARMADO import *

In [2]:
M_G = 100
M_Q = 20
GAMMA_FG = 1.4
M_SD = (M_G + M_Q) * GAMMA_FG
M_SD

168.0

In [3]:
DADOS_VIGA = {'B_W': 0.20,
              'D': 0.46,
              'A_S': 8.00 * 1E-4,
              'F_Y': 500 * 1E3,
              'F_CK': 20 * 1E3,
              'GAMMA_S': 1.15,
              'GAMMA_C': 1.40,
              'THETA_R': 1,
              'THETA_S': 1}

DADOS_PILAR = {'TIPO_PILAR': "EXTREMIDADE",
               'A_C': 0.14 * 0.40,
               'RHO': 2,
               'E_S': 200 * 1E6,
               'GAMMA_C': 1.40,
               'F_CK': 20 * 1E3,
               'THETA_S': 1}
M_RD = MOMENTO_RESISTENE_MRD(DADOS_VIGA['B_W'], DADOS_VIGA['D'], DADOS_VIGA['A_S'], DADOS_VIGA['F_Y'], DADOS_VIGA['F_CK'], DADOS_VIGA['GAMMA_S'], DADOS_VIGA['GAMMA_C'])

G = - M_RD + M_SD * DADOS_VIGA['THETA_S']
print(M_RD, G, DADOS_VIGA['A_S'])

135.09173801845884 32.90826198154116 0.0008

In [4]:
N_RD = VERIFICA_PILAR(DADOS_PILAR['TIPO_PILAR'], DADOS_PILAR['A_C'], DADOS_PILAR['RHO'], DADOS_PILAR['E_S'], DADOS_PILAR['F_CK'], DADOS_PILAR['GAMMA_C'])
N_RD

512.7272727272727

In [8]:
import pandas as pd 
TABELA_SOLOS = [('AREIA', '3', '900', '0.3'), ('AREIA ARGILO SILTOSA', '3', '600', '0.3'),
                ('AREIA ARGILOSA', '3', '550', '0.3'), ('AREIA SILTO ARGILOSA', '3', '575', '0.3'),
                ('AREIA SILTOSA', '3', '700', '0.3'), ('ARGILA', '7', '200', '0.45'),
                ('ARGILA ARENO SILTOSA', '6', '250', '0.45'), ('ARGILA ARENOSA', '6', '300', '0.45'),
                ('ARGILA SILTO sa', '6', '250', '0.45'), ('ARGILA SILTOSA', '6', '200', '0.45'),
                ('SILTE', '5', '350', '0.4'), ('SILTE  ARGILOSO', '5', '450', '0.4'),
                ('SILTE ARENOSO', '5', '450', '0.4'), ('SILTE ARGILOSO ARENOSO', '5', '325', '0.4'),
                ('SILTE ARGILOSO', '5', '250', '0.4')]

In [9]:
TABELA_SOLOSDADOS = pd.DataFrame(TABELA_SOLOS)
TABELA_SOLOSDADOS.columns = ['Solo', 'alfa', 'k(kPa)', 'n']
TABELA_SOLOSDADOS

                      Solo alfa k(kPa)     n
0                    AREIA    3    900   0.3
1     AREIA ARGILO SILTOSA    3    600   0.3
2           AREIA ARGILOSA    3    550   0.3
3     AREIA SILTO ARGILOSA    3    575   0.3
4            AREIA SILTOSA    3    700   0.3
5                   ARGILA    7    200  0.45
6     ARGILA ARENO SILTOSA    6    250  0.45
7           ARGILA ARENOSA    6    300  0.45
8          ARGILA SILTO sa    6    250  0.45
9           ARGILA SILTOSA    6    200  0.45
10                   SILTE    5    350   0.4
11         SILTE  ARGILOSO    5    450   0.4
12           SILTE ARENOSO    5    450   0.4
13  SILTE ARGILOSO ARENOSO    5    325   0.4
14          SILTE ARGILOSO    5    250   0.4

In [19]:
aux_solo = TABELA_SOLOSDADOS[(TABELA_SOLOSDADOS['Solo'] == "AREIA")]
aux_solo

    Solo alfa k(kPa)    n
0  AREIA    3    900  0.3

In [20]:
ALPHA = aux_solo['alfa']
ALPHA

0    3
Name: alfa, dtype: object

In [23]:
wand = float(ALPHA) * 20
print(wand)

60.0